
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Olá <b>@Context.User.Identity.Name</b>! Seja bem vindo!</h2>
<hr />
<h3>Use os menus superiores para navegar no site.</h3>

